//  Cores 
$corDeFundo: #5f5e5e;
$corTextoPrincipal: #c0c0c0;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #6421ff;
$corDeFundoBotaoSecundario: #000;
$corDeFundoHeader: rgba(73,103,114,255);