//  Cores 
$corDeFundo: #000;
$corTextoPrincipal: #c0c0c0;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: rgba(73,103,114,255);
$corDeFundoBotaoSecundario: #000;
$corDeFundoHeader: rgba(73,103,114,255);